nbproject/private/
*.cmake
CMakeCache.txt
CMakeFiles/
Makefile
build/
_CPack_Packages/
install_manifest.txt
*.7z
*.rpm
*.noarch.sh
*.tar.Z
*.tar.bz2
*.tar.gz
*.tar.xz
*.zip
test/.stealer/checkout/*
test/package-lock.json
test/package.json
test/.stealer/clone/
test/.stealer/copy/
.idea/
