nbproject/private/
./*.cmake
CMakeCache.txt
CMakeFiles/
Makefile
build/
_CPack_Packages/
install_manifest.txt
*.7z
*.*.rpm
*.noarch.sh
./*.*.sh
*.tar.Z
*.tar.bz2
*.tar.gz
*.tar.xz
setmy-info-scripts-*.x86_64.sh
*.zip
test/.stealer/checkout/*
test/package-lock.json
test/package.json
test/.stealer/clone/
test/.stealer/copy/
.idea/
*.iml
target
/src/main/resources/cmake/developer.txt
/.vs/
Testing
.ninja_deps
.ninja_log
build.ninja
compile_commands.json
CTestTestfile.cmake
_deps
.cproject
.project
.settings/
CPackConfig.cmake
CPackSourceConfig.cmake

