[Desktop Entry]
Version=1.0
Type=Application
Name=Element
Comment=
Exec=/opt/element/element-desktop
Icon=/opt/element/resources/build/icon.png
Path=
Terminal=false
StartupNotify=false
