[Desktop Entry]
Version=1.0
Type=Application
Name=NetBeans
Comment=NetBeans
Exec=/opt/netbeans/bin/netbeans
Icon=/opt/netbeans/nb/apache-netbeans.svg
Path=/home/has/sources/setmy.info
Terminal=false
StartupNotify=false
