[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=PyCharm
Comment=PyCharm
Exec=/opt/pycharm/bin/pycharm
Icon=/opt/pycharm/bin/pycharm.png
Path=
Terminal=false
StartupNotify=false
