[Desktop Entry]
Version=1.0
Type=Application
Name=Telegram Desktop
Comment=Official desktop version of Telegram messaging app
Exec=/opt/telegram/Telegram -- %u
Icon=org.telegram.desktop
Path=
Terminal=false
StartupNotify=false
GenericName=Telega
