[Desktop Entry]
Version=1.0
Type=Application
Name=Thunderbird
Comment=
Exec=/opt/thunderbird/thunderbird
Icon=/opt/thunderbird/chrome/icons/default/default64.png
Path=
Terminal=false
StartupNotify=false
