[Desktop Entry]
Version=1.0
Type=Application
Name=Zoom Workplace
Comment=Zoom Video Conference
Exec=/usr/bin/zoom %U
Icon=Zoom
Path=
Terminal=false
StartupNotify=false
