[Unit]
Description=setmy.info half past plugins at half past every hour, 00:30, 01:30, ...

[Timer]
OnCalendar=*-*-* *:30:00
OnActiveSec=1min
Unit=setmy-info-half-past.service

[Install]
WantedBy=timers.target
